*.md filter=lfs diff=lfs merge=lfs -text
*.py !text !filter !merge !diff
*.vert !text !filter !merge !diff
*.sh !text !filter !merge !diff
*.frag !text !filter !merge !diff
*.gitmodules !text !filter !merge !diff
*.txt !text !filter !merge !diff
*.gitignore !text !filter !merge !diff
*.md !text !filter !merge !diff
